header#Topnav
  if lang
    a#HomeLink.navlink(href='/'+lang[0])
      if lang[0]=="en/"
        |Home
      else
        |Accueil
    a#RecettesLink.navlink(href='/'+lang[0]+'?Recettes=All')
      if lang[0]=="en/"
        |Recepices
      else
        |Recettes
    a#MenusLink.navlink(href='/'+lang[0]+'?Menus=All')
      if lang[0]=="en/"
        |Menus
      else
        |Menus
    a#SearchLink.navlink(href='/'+lang[0]+'Search')
  else 
    a(href="javascript:history.back()") Go back to the site
