header
  a#HomeLink.navlink(href='/')
    span.langue.french.active Accueil
    span.langue.english Home
    span.langue.spanish bienvenida
  a#RecettesLink.navlink(href='/?Recettes=All')
    span.langue.french.active Recettes
    span.langue.english Quality procces
    span.langue.spanish Calidad
  a#MenusLink.navlink(href='/?Menus=All')
    span.langue.french.active Menus
    span.langue.english Placement
    span.langue.spanish Colocacion
  a#SearchLink.navlink(href='/Search')