extends layout

block content
  .container
    .page
      -console.log(ParamsGet)
      if ParamsGet.Search
        include search
      else if ParamsGet.Recettes && ParamsGet.Menus
            h1 ERROR
            h4 Unknown resquest
      else if ParamsGet.Recettes
            include Recettes
      else if ParamsGet.Menus
            include Menus
      else      
            include Today
      include new
  .news
    include course