extends layout

block content
  main
    .container
      .page
          if search
            include search
          else if ParamsGet.Recettes && ParamsGet.Menus
            h1 ERROR
            h4 Unavailable resquest
          else if ParamsGet.Recettes
            include Recettes
          else if ParamsGet.Menus
            include Menus
          else      
            include Today
    .news
      include course
    //include new