doctype html
html
  head
    title= Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header
    block content
    include footer
    if !ParamsGet.Recettes || !ParamsGet.Menus
      include script
