mixin newSelect(a, b)
  select&attributes(attributes)
    each val in a
      if val==b
        option(value=val selected)=val
      else
        option(value=val)=val
-Doption= { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
doctype html
html
  head
    title= Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header
    main
      block content
    include footer
    include script
