-var findDate =  function(mydate, diff){ return mydate+(86400000*diff)}
-nextDate=[Today, findDate(Today, 1), findDate(Today, 2), findDate(Today, 3), findDate(Today, 4), findDate(Today, 5), findDate(Today, 6)]
if ParamsGet.Menus=="All"
  .calendar
    .head
      div: h3.fondcraie Menus
      div: h3.fondcraie Matin
      div: h3.fondcraie Midi
      div: h3.fondcraie Soir
    .body.scroll
      each date in nextDate
        -checkmenu = true
        each menu in Menus
          if menu.Date==date
            -checkmenu = false
            .line
              div
                table
                  tbody
                    tr
                      th
                        a.Menu(href="/?Menus="+new Date(date).toLocaleDateString(lang[1]))=new Date(date).toLocaleDateString(lang[1], Doption)
              -checkrecette = true
              each recette in Recettes
                if recette.Nom == menu.Matin[0]
                  -checkrecette = false
                  div
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                div Aucune programmation
                -checkrecette = true
              each recette in Recettes
                if recette.Nom == menu.Midi[0]
                  -checkrecette = false
                  div
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                div Aucune programmation
              -checkrecette = true
              each recette in Recettes
                if recette.Nom == menu.Soir[0]
                  -checkrecette = false
                  div
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                div Aucune programmation
        if checkmenu
          .line
            div
              table
                tbody
                  tr
                    th
                      a(href="/?Menus="+new Date(date).toLocaleDateString(lang[1]))=new Date(date).toLocaleDateString(lang[1], Doption)
            div Aucune programmation
            div Aucune programmation
            div Aucune programmation
else
  if lang[1] == 'fr-FR'
    -ParamsGet.Menus= ParamsGet.Menus.slice(3,5)+ParamsGet.Menus.slice(2,3)+ParamsGet.Menus.slice(0,2)+ParamsGet.Menus.slice(5,6)+ParamsGet.Menus.slice(6)
  h1: span.fondcraie=new Date(ParamsGet.Menus).toLocaleDateString(lang[1], Doption)
  -checkmenu = true
  each menu in Menus
    if menu.Date == new Date(ParamsGet.Menus).valueOf()
      -checkmenu = false
      .affichemenu.scroll
        table
          tbody
            tr
              th.fondcraie Matin: 
              -checkrecette = true
              each recette in Recettes
                if menu.Matin.includes(recette.Nom) 
                  -checkrecette = false
                  td
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                td Aucune programmation
            tr
              th: h3.fondcraie Midi: 
              -checkrecette = true
              each recette in Recettes
                if menu.Midi.includes(recette.Nom)
                  -checkrecette = false
                  td
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                td Aucune programmation
            tr
              th: h3.fondcraie Soir: 
              -checkrecette = true
              each recette in Recettes
                if menu.Soir.includes(recette.Nom)
                  -checkrecette = false
                  td
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                td Aucune programmation
  if checkmenu
    h3(style="text-align:center; font-family: monospace;") Aucun menu n'est programmé pour cette date