-var findDate =  function(mydate, diff){ var dt = new Date(mydate); return new Date((dt.setDate(dt.getDate()+diff))).toLocaleDateString();}
-nextDate=[Today, findDate(Today, 1), findDate(Today, 2), findDate(Today, 3), findDate(Today, 4), findDate(Today, 5), findDate(Today, 6)]

.calendar
  .head

    div
      h3
    div
      h3 Matin
    div
      h3 Midi
    div
      h3 Soir
  .body.scroll
    each date in nextDate
      -checkmenu = true
        each menu in Menus
          if menu.Date==date
            -checkmenu = false
            .line
              div
                table
                  tbody
                    tr
                      td
                        a.Menu(href="/?Menus="+date)=new Date(date).toDateString()
              -checkrecette = true
              each recette in Recettes
                if recette.Nom == menu.Matin[0]
                  -checkrecette = false
                  div
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                td Aucune programmation
                -checkrecette = true
              each recette in Recettes
                if recette.Nom == menu.Midi[0]
                  -checkrecette = false
                  div
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                td Aucune programmation
              -checkrecette = true
              each recette in Recettes
                if recette.Nom == menu.Soir[0]
                  -checkrecette = false
                  div
                    a.Recette(href="/?Recettes="+recette.Nom)
                      img(src="images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                      br
                      =recette.Nom
              if checkrecette
                td Aucune programmation
        if checkmenu
          .line
            div
              table
                tbody
                  tr
                    td
                      a.Menu(href="/?Menus="+date)=new Date(date).toDateString()
            div Aucune programmation
            div Aucune programmation
            div Aucune programmation