-var findDate =  function(mydate, diff){ var dt = new Date(mydate); return new Date((dt.setDate(dt.getDate()+diff))).toLocaleDateString();}
-nextDate=[Today, findDate(Today, 1), findDate(Today, 2), findDate(Today, 3), findDate(Today, 4), findDate(Today, 5), findDate(Today, 6)]

