#forms(style='display:none')
  table
    tbody
      tr
        th
          label(for="MenuDate") Menu du :
        td
          input#MenuDate(type="date" name="MenuDate")
      tr
        th
          label(for="MenuMatin") Programmation du matin :
        td
          input#MenuMatin(type="text" name="MenuMatin")
      tr
        th
          label(for="MenuMidi") Programmation du midi :
        td
          input#MenuMidi(type="text" name="MenuMidi")
      tr
        th
          label(for="MenuSoir") Programmation du soir :
        td
          input#MenuSoir(type="text" name="MenuSoir")

  table
    tbody
      tr
        th
          label(for="RecetteNom") Nom :
        td
          input#RecetteNom(type="text" name="RecetteNom")
      tr
        th
          label(for="RecetteImage") Image :
        td
          input#RecetteImage(type="file" name="RecetteImage")
      tr
        th
          label(for="RecetteIngredients") Ingredients :
        td
          input#RecetteIngredients(type="text" name="RecetteIngredients")
      tr
        th
          label(for="Preparation") Preparation :
        td
          input#Preparation(type="text" name="Preparation")

  table
    tbody
      tr
        th
          label(for="Mesure") Mesure:
        td
          +newSelect(['Gramme','Litre','Unité',''], b)#Mesure
      tr
        th
          label(for="MenuMatin") Programmation du matin :
        td
          input#MenuMatin(type="text" name="MenuMatin")
      tr
        th
          label(for="MenuMidi") Programmation du midi :
        td
          input#MenuMidi(type="text" name="MenuMidi")
      tr
        th
          label(for="MenuSoir") Programmation du soir :
        td
          input#MenuSoir(type="text" name="MenuSoir")

form#new.modals.active(action="/new", method="post" encType="multipart/form-data")
  .lignecraie.grid
    input(type="hidden" value=lang[0] name='lang')
    table
      tr
        td: label(for="FormType") New :
        td: select#FormType(name="NewFeature")
          option(value="NewMenu") Menu
          option(value="NewRecette") Recette
          option(value="NewIngredient") Ingredient

    #formfield
    button valider