form#new.modals(autocomplete='off' action="/new", metdod="post" encType="multipart/form-data")
  .lignecraie.grid
    input(type="hidden" value=lang[0] name='lang')
    table
      tr
        td: label(for="FormType") New :
        td: +newSelect(['Menu', 'Recette', 'Ingredient'])#FormType(name="NewFeature")
    #formfield
    div
      span(onclick="Modals('new','close')") Fermer
      button valider
#forms(style='display:none')
  table
    tbody
      tr
        td
          label(for="MenuDate") Menu du :
        td
          input#MenuDate(type="date" name="MenuDate")
      tr
        td
          label(for="MenuMatin") Programmation du matin :
        td
          input#MenuMatin(type="text" name="MenuMatin")
      tr
        td
          label(for="MenuMidi") Programmation du midi :
        td
          input#MenuMidi(type="text" name="MenuMidi")
      tr
        td
          label(for="MenuSoir") Programmation du soir :
        td
          input#MenuSoir(type="text" name="MenuSoir")

  table
    tbody
      tr
        td
          label(for="RecetteNom") Nom :
        td
          input#RecetteNom(type="text" name="RecetteNom")
      tr
        td
          label(for="RecetteImage") Image :
        td
          input#RecetteImage(type="file" name="RecetteImage")
      tr
        td
          label(for="RecetteIngredients") Ingredients :
        td
          input#RecetteIngredients(type="text" name="RecetteIngredients")
      tr
        td
          label(for="Preparation") Preparation :
        td
          input#Preparation(type="text" name="Preparation")

  table
    tbody
      tr
        td
          label(for="IngredientNom") Nom
        td
          input#IngredientNom(type="text" name="IngredientNom")
      tr
        td
          label(for="Mesure") Mesure:
        td
          +newSelect(['Gramme','Litre','Unité',''], b)#Mesure(name='IngredientMesure')
