h1: span.fondcraie Today menu is
-checkmenu = true
each menu in Menus
  if menu.Date==Today
    -checkmenu = false
    .affichemenu.scroll
      table
        tbody
          tr
            th: h3.fondcraie Matin: 
            -checkrecette = true
            each recette in Recettes
              if menu.Matin.includes(recette.Nom) 
                -checkrecette = false
                td
                  a.Recette(href="/?Recettes="+recette.Nom)
                    img(src="images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                    br
                    =recette.Nom
            if checkrecette
              td Aucune programmation
          tr
            th: h3.fondcraie Midi: 
            -checkrecette = true
            each recette in Recettes
              if menu.Midi.includes(recette.Nom)
                -checkrecette = false
                td
                  a.Recette(href="/?Recettes="+recette.Nom)
                    img(src="images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                    br
                    =recette.Nom
            if checkrecette
              td Aucune programmation
          tr
            th: h3.fondcraie Soir: 
            -checkrecette = true
            each recette in Recettes
              if menu.Soir.includes(recette.Nom)
                -checkrecette = false
                td
                  a.Recette(href="/?Recettes="+recette.Nom)
                    img(src="images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                    br
                    =recette.Nom
            if checkrecette
              td Aucune programmation

if checkmenu
  h3(style="text-align:center; font-family: monospace;") NOTHING, Aucun menu n'est programmé pour Aujourd'hui