h1: span.fondcraie
  if lang[0]=="en/"
    |Today menu is
  else
    |Menu du jour
-checkmenu = true
each menu in Menus
  if menu.Date==Today
    -checkmenu = false
    .affichemenu.scroll
      table(style="text-align: center;")
        tbody
          tr
            th: h3.fondcraie 
              if lang[0]=="en/"
                |Morning
              else
                |Matin: 
            -checkrecette = true
            each recette in Recettes
              if menu.Matin.includes(recette.Nom) 
                -checkrecette = false
                td
                  a.Recette(href="/"+lang[0]+"?Recettes="+recette.Nom)
                    img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                    br
                    =recette.Nom
            if checkrecette
              td 
                if lang[0]=="en/"
                  |No programming
                else
                  |Aucune programmation
          tr
            th: h3.fondcraie Midi: 
            -checkrecette = true
            each recette in Recettes
              if menu.Midi.includes(recette.Nom)
                -checkrecette = false
                td
                  a.Recette(href="/"+lang[0]+"?Recettes="+recette.Nom)
                    img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                    br
                    =recette.Nom
            if checkrecette
              td 
                if lang[0]=="en/"
                  |No programming
                else
                  |Aucune programmation
          tr
            th: h3.fondcraie 
              if lang[0]=="en/"
                |Evening
              else
                |Soir
            -checkrecette = true
            each recette in Recettes
              if menu.Soir.includes(recette.Nom)
                -checkrecette = false
                td
                  a.Recette(href="/"+lang[0]+"?Recettes="+recette.Nom)
                    img(src="/images/"+recette.Image, alt="No available" height="100" width="150", srcset="")
                    br
                    =recette.Nom
            if checkrecette
              td 
                if lang[0]=="en/"
                  |No programming
                else
                  |Aucune programmation

if checkmenu
  h3(style="text-align:center; font-family: monospace;") 
  if lang[0]=="en/"
    |No menu is programmed today
  else
    |Aucun menu n'est programmé pour Aujourd'hui