@font-face {
  font-family: "Craie";
  src: url("../fonts/CoalhandLuke.ttf") format("tff"),
  url("../fonts/CoalhandLuke.otf") format("opentype")
  }
::-webkit-scrollbar{
  display: none;
}
html,body {
  margin: 0;
  padding: 0;
  background-image: url(../images/contour1.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.scroll{
  overflow-y: scroll;
}
.soustitre{
  font-style: italic;
  font-size: 1.25em;
  padding: 5px;
}
a.Recette, a.Menu{
  color: white;
  text-decoration: none;
}
.imgside{
  width: 60%
}
.imgside h1{
  margin-left: 15%;
  font-size: 2.5em; 
}
.nopuce{
  list-style-type: none;
  height: 10px;
}
.langue{
  display: none;
}
.langue.active{
  display: block;
  transition: margin 1s linear;
}
/*style */
header
{
  position: fixed;
  z-index: 50;
  width: 100vw;
  text-align: center;
  display: inline-flex;
  height: 3em;
  background-size: 0.4em;
}
header a
{
    margin: auto;
    font-size: 1.2em;
    color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: thin;
    text-decoration: none;
}
#SearchLink{
  background-image: url(../images/ico-search.png);
  background-size: contain;
  height: 35px;
  width: 35px;
  opacity: 0.5;
  border: 5px #ba7522 outset;
}
header a.active
{
  color: #000;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}
#SearchLink.active{
  opacity: 1;
  border-style: inset;
}
/* Main */
main {
  position: absolute;
  padding: 1%;
  top: 3em;
  right: 3.5%;
  bottom: 3em;
  left: 3.5%;
  background-image: url(../images/blackboard.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  border: ridge 4px #b66f22;
  border-bottom-style: groove;
  border-right-style: groove;
}
.container{
  position: relative;
  width: 70vw;
  z-index: 0;
}
.container>div{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.page {
  margin: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: craie;
}
.page h1{
  text-align: center;
  background-image: url(../images/fondcraie.jpg);
  background-size: cover;
  color: transparent;
  border: white solid 0.1em;
  border-radius: 5px;
  height: 6vh;
  margin: 2vh 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondcraie{
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(../images/blackboard.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
}
.news{
  position: relative;
  width: 23vw;
  min-width: 200px;
  z-index: 0;
  border: .25em dashed white;
}
.news .head{
  position: absolute;
  background-image: url(../images/fondcraie.jpg);
  background-size: cover;
  color: transparent;
  top: 5px;
  right: 5px;
  left: 5px;
  text-align: center;
  border: #fff solid 1px
}
.news .body{
  position: absolute;
  top: 4.8em;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: craie;
  color: #fff;
}
.news .body>div{
  width: 90%;
  margin: 0.3em auto;
  border: #fff solid 1.5px;
  border-radius: 50px 0;
}
.news .body>div>div:first-child{
  display: grid;
  text-align: center;
  background-image: url(../images/fondcraie.jpg);
  background-size: cover;
  color: transparent;
  border-radius: 50px 0;
}
.liste-recettes{
  position: absolute;
  top: 5em;
  right: 0;
  bottom: 0;
  left: 0;
}
.columns2>li{
  float:left;
  width: 45%;
}
.flex{
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-wrap: wrap
}
.flex>p{
  width: 100%;
}
.calendar{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.calendar .head{
  display: inline-flex;
  width: 100%;
  background-image: url(../images/fondcraie.jpg);
  background-size: cover;
  height: 4.3em;
  overflow: hidden;
  color: transparent;
  border: white solid 0.1em;
  border-radius: 5px;
}
.calendar .body{
  position: absolute;
  width: 100%;
  top: 4.5em;
  bottom: 0;
}
.calendar .body .line{
  display: inline-flex;
  width: 100%;
}
.calendar .body .line:not(:first-child){
  border-top: 2px solid #fff; 
  border-radius: 300px/10px;
  padding-top: 15px;
}
.head>div, .line>div{
  width: 23%;
  text-align: center;
  margin: 0.5%;
  padding: 0.5%;
}
 .line>div table{
  width: 100%;
  height: 100%;
  font-size: 1.2em;
 }
 .affichemenu{
  position: absolute;
  top: 13vh;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 5px dotted white;

 }
 .affichemenu table{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
 }
 #lignecraie{
  font-size: 2vw;
  text-align: center;
  padding: 5px 0;
 }
 #lignecraie input, #lignecraie select, #lignecraie button {
  height: 3vw;
  border: 0;
  border-bottom: 2px dashed #fff;
  text-align: center;
  background: transparent;
  color: #fff;
  outline: none;
  font-family: craie;
  font: inherit;
  font-size: inherit;
 }
 #lignecraie option{
  background: #343434;
 }
 #lignecraie>select>option>span:hover{
  background: #fff;
  color: #343434;
 }
 #lignecraie button{
   border: none;
   margin: 0 1.5%;
 }
 #lignecraie button img{
  margin-bottom: -30%;
  width: 2.5vw;
}
 footer{
   position: fixed;
   bottom: 0;
   height: 3em;
   width: 100%;
 }